/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }*/
form	{ margin: 0px; padding: 0px; }
table   { border-collapse: collapse; border-spacing: 0px; }
caption, th, td {text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

BODY    { color: #000; font-family: Helvetica, Arial, Verdana, sans-serif; }

H1		{ margin: 20px 0; font-size: 3em; }
H2		{ margin: 40px 0 20px 0; font-size: 1.8em; }

UL 		{ margin: 0 20px; }
UL LI	{ margin: 5px 0; }

.gllpLatlonPicker	{ margin: 20px 0; }

.code			{ margin: 20px 0; font-size: 0.9em; width: 600px; font-family: "Monofur", courier; background-color: #555; padding: 15px; box-shadow: #f6f6f6 1px 1px 3px; color: #999; }
.description	{ margin: 20px 0; line-height: 1.2em; }

header.masthead .intro-text {
	height: 100vh !important;
	padding-top: 220px !important;
}

#service {
	padding: 20px 0;
}

.title-rekomendasi {
	font-weight: bold;
	margin-bottom: 1rem;
	display: block;
}

.label {
	display: block;
	color: #757575;
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
}

h3 {
	font-size: 2rem;
	display: block;
	margin-bottom: 10px;
}

.title-span {
	font-size: 0.8rem;
    color: #757575;
    padding: 2px 10px;
    background-color: #e0e0e0;
    width: 100%;
    display: block;
    border-radius: 3px;	
}

.image-result {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
	object-fit: cover;
	height: 180px;
	background-color: red;
	margin-bottom: 10px;
}

.detail-small {
	position: absolute;
	bottom: 30px;
	left: 30px;
}

.detail-small p {
	background-color: #fff;
	padding: 2px 10px;
	display: inline-block;
}

.subtitle-visitor {
	color: white;
}

.form-control-label {
	color: white;
}
